<h1>Home</h1>
<% if @user %>
  <%= image_tag @picasa_user.icon %>
  <p>Hi, <%= @user.name %>!</p>
  <%= link_to "Sign out", login_sign_out_path %>
  <h2>Your Albums</h2>
  <% @picasa_user.albums.each do |album| %>
    <h3><%= album.title %></h3>
    <%= link_to image_tag(album.thumbnail), show_album_path(album.id) %>
    <p><%= album.summary %></p>
  <% end %>
<% else %>
  <p>Sign in to view albums</p>
  <%= link_to "Sign in", login_sign_in_path %>
<% end %>
